# Pastas de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambiente virtual
venv/
.env/

# Dados grandes
*.csv
*.xlsx

# Database
*.db
*.sqlite3

# Arquivos temporários
*.log
docker-compose.override.yml

.vscode/
.idea/
*.sublime-project
*.sublime-workspace