# Pastas de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

**node_modules/

# Ambiente virtual
venv/
.env/

# Dados grandes
*.csv
*.xlsx

# Database
*.db
*.sqlite3

# Arquivos temporários
.docker/
*.log
docker-compose.override.yml
docker-compose.yml

.vscode/
.idea/
*.sublime-project
*.sublime-workspace